<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treatment</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='stethoscope.png') }}" 
               width="30" height="24" class="d-inline-block align-text-top">

            {{patient.fname| upper}}'s Treatment
          </a>
          
            
              
          
          <a class="nav-link" href="{{ url_for('docdash',did=doctor.did) }}">
            <button type="button" class="btn btn-danger">Back</button>
            </a>
          
          
        </div>
    </nav>
    <form method="post">

        <input name="date" type="date" placeholder="Date" required/><br><br>   
        <textarea name="test" placeholder="Tests" required></textarea><br><br>
        <textarea name="diagnosis" placeholder="Diagnosis" required></textarea><br><br>
        <textarea name="prescription" placeholder="Prescription" required></textarea><br><br>
        

        <button>Save</button>
    </form>

        
    
    
</body>
</html>